<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="header_container">{{>header}}</div>
<img src="/images/photo01.jpg" width="240">
    <p>jl askdjlsakd jslakd jks {{name}}</p>
{{data.url}}

<div class="footer_container"> {{>footer}} </div>

</body>

</html>