<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="header_container">{{>header}}</div>
    <p>{{helpText}}</p>

<div class="footer_container"> {{>footer}} </div>
</body>

</html>